/* components */
@import url("./components/header.css");
@import url("./components/footer.css");

/* pages */
@import url("./pages/index.css");
@import url("./pages/about.css");

/* universal */
@import url("./buttons.css");

body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  font-family: "Patrick Hand", cursive;
}

.content {
  width: 100%;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.el-swap-white {
  background-image: url("/assets/images/el-swap-white.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 135px;
  margin-bottom: -3px;
  margin-top: -135px;
  z-index: 4;
}

.el-swap-black {
  background-image: url("/assets/images/el-swap-black.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 135px;
  margin-bottom: -3px;
  margin-top: -135px;
  z-index: 4;
}

.el-swap-gray {
  background-image: url("/assets/images/el-swap-gray.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 135px;
  margin-top: -135px;
  margin-bottom: -3px;
  z-index: 4;
}
.el-swap-w-gray {
  background-image: url("/assets/images/el-swap-w-gray.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 135px;
  margin-top: -135px;
  margin-bottom: -3px;
  z-index: 4;
}

.explore-indonesia {
  font-family: "Permanent Marker", cursive;
}
