.header {
  height: 70px;
  width: 100%;
  transition: all 1s ease;
}

.header.header-absolute {
  position: absolute;
  background-color: transparent;
  z-index: 10;
}

.header.header-absolute .nav-item {
  margin-right: 1rem;
}

.header.header-absolute .nav-link {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 1px;
  border-bottom: 2px solid transparent;
  transition: all 0.5s;
}

.header.header-absolute .nav-link:hover {
  border-bottom-color: #fff;
}
.header.header-absolute .nav-link.focus,
.header.header-absolute .nav-link:focus {
  outline: none;
  border-bottom-color: #fff;
}

.header.header-fixed {
  position: fixed;
  width: 85%;
  top: 10px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 5px 11px 0px rgba(158, 158, 158, 0.5);
}

.header.header-fixed .nav-item {
  margin-right: 1rem;
}

.header.header-fixed .nav-link {
  color: #282828;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 1px;
  border-bottom: 2px solid transparent;
  transition: all 0.5s;
}

.header.header-fixed .nav-item:hover {
  border-bottom-color: #282828;
}

.header.header-fixed .nav-item.focus,
.header.header-fixed .nav-item:focus {
  outline: none;
  border-bottom-color: #282828;
}

.header #menu-navbar {
  margin-left: 30px;
}
